* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}


.main-info-section
{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
 .work-category {
  
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

}

body  {
  background-color: #252627;
}

header {

  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  
}

.navbar {
  background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070
}

li {
  list-style: none;
  margin-left: 30px;
}

a {

  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top:50%;
  bottom:50%;
  transform: translateY(-50%);

}

.main-info-section{
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 120px;
}

.text h1 {
  color: white;
  font-size: 3rem;
  cursor: context-menu;
}



.text span {
  display: inline-block;
}

span:hover {

  color: #48cfad;
  transition: all .5s;

}

span.name {
  color: #ED5565;
}

span.m-left {
  margin-left: -10px;
}

.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{

  padding: 12px 25px;
 text-decoration: none;
  border: 3px solid #ED5565;  
  color: #ED5565;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top:80px;
  overflow: hidden;
  transition: all .5s;
  display: inline-block;
}

.text a:hover{
  color: white;
}

.text a::before {
  content: '';
  background-color: #ED5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before{
  height:100%;
}


.profile-image img{
  width: 100%;
  margin-top: 50px; 
}

.about {
  height:100vh;
  margin-top: 100px;
}

.about h1{font-size: 10rem;
  z-index: 0;
  opacity: .1;
  margin-bottom: 100px;
}
.work h1 {

  font-size: 10rem;
  z-index: 0;
  opacity: .1;


}

.about-me-info {

  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
}

.about-me-info p{
  font-size: 1.3rem;
  color:#BEBEBE; 
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {

  width:300px;
  position: relative;
  top: -300px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));

}

#skills {
  height: 100vh;
  max-height: 100vh;
}

#cont{
  width: 100%;
  height: 50%;
}
.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: .1;
}

.skills-info {

  position: relative;
  font-size: 2vw;
  color: #BEBEBE;
  max-width: 800px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;

}

.html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1vw;

}

div [class^='tag-'] {

  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  background-color: #1785A7;
  width: 120px;
  height: 2vw;
  margin-right: 30px;
}

div [class^='tag-'] p{

    color: #fff;
    text-align:left;
    padding-left: 10px;
    font-size: 1.5vw;
    padding-top: 3px;
}

.progressbar{
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48CFAD;
  border-radius: 20px;
  
}

div [class^="bar-"] {
  position: absolute;
  background-color: #48CFAD;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-react {
  width: calc(0 - 6px);
}
/**********************WORK*******************************************/
.work-category button {
  text-transform: capitalize;
  border: 3px solid #ED5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ED5565;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
}

div[class^='category-'] {

  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  grid-gap: 20px;
}

.work a{
  justify-self: center;
  position: relative;
  display: inline-block;
}

.work-category .active {
  background-color: #ED5565;
}

button.active {
  color: #fff;
}

.work a img{
  width: 350px;
  justify-self: center;
}

div.hideCategory {
  display:none;
}

.showCategory {
  display: block;
}

.contact {
  margin-top: 50px;
}


div.hideCategory {
  display:none;
}

.showCategory {
  display: block;
}

.contact {
  margin-top: 50px;
}

form input,
form textarea{

  display: block;
  width: 500px;
  padding: 20px;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);

}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ED5565;
  height: 100%;
  width: 100%;
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.5s ease-in-out;
  color: white;}
#project_1
{ background-image: url("../img/book.JPG");
  background-size:100% 100% ;
  display: flex;
  width: 350px;
    height: 200px;

  justify-self: center;
}
#project_1:hover .inner {
  clip-path: circle(75%);

}
#project_2
{background-image: url("../img/duopoint.JPG");
  background-size:100% 100% ;
  width: 350px;
    height: 200px;
  justify-self: center;
}
#project_2:hover .inner {
  clip-path: circle(75%);
}
#project_3
{background-image: url("../img/pizza.JPG");
  background-size:100% 100% ;
  width: 350px;
  justify-self: center;
  height: 200px;
}
#project_3:hover .inner {
  clip-path: circle(75%);
}
#project_4
{background-image: url("../img/meme.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#project_4:hover .inner {
    clip-path: circle(75%);
}


#react_1
{
    background-image: url("../img/duopoint.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#react_1:hover .inner {
    clip-path: circle(75%);
}
#react_2
{
    background-image: url("../img/Token.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#react_2:hover .inner {
    clip-path: circle(75%);
}

#react_3
{
    background-image: url("../img/tweetAnalytics.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#react_3:hover .inner {
    clip-path: circle(75%);
}

#react_4
{
    background-image: url("../img/book.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#react_4:hover .inner {
    clip-path: circle(75%);
}

#all_1
{
    background-image: url("../img/book.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_1:hover .inner {
    clip-path: circle(75%);
}
#all_2
{
    background-image: url("../img/duopoint.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_2:hover .inner {
    clip-path: circle(75%);
}
#all_3
{
    background-image: url("../img/meme.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_3:hover .inner {
    clip-path: circle(75%);
}

#all_4
{
    background-image: url("../img/tweetAnalytics.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_4:hover .inner {
    clip-path: circle(75%);
}
#all_5
{
    background-image: url("../img/pizza.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_5:hover .inner {
    clip-path: circle(75%);
}
#all_6
{
    background-image: url("../img/Token.JPG");
    background-size:100% 100% ;
    width: 350px;
    justify-self: center;
    height: 200px;
}
#all_6:hover .inner {
    clip-path: circle(75%);
}
.inner > div
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inner>p{
    width: 100%;
    text-align: center;
}
.inner>div>a>img
{
    height: 100%;
    width: 100%;
    cursor: pointer;
}



form input:last-child {

  width: 150px;
  background-color: #ED5565;
  border: none;
  cursor: pointer;

}

footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p{
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 30px;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #252627;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 90px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 600px)
{
  body{
    width: 100vw;
  }
  .container{
    padding: 5px;
  }
 .navbar{
    width: 100%;

  }
 .lgo{
   display: none
  }
 .profile-image
 {
   display: none;
 }

 .work-category
 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .work-category>button
 {
   width: 28%;
   font-size: 14px;
 }
 .about{
   max-height: 100vh;
 }
 .about-me-info{
   z-index: 0;
 }
 .about > h1
 {
   margin-bottom: 100px;
   font-size: 90px

 }
 .about img
 {
   display: none;
 }
 .skills{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 200px;

 }
  div [class^='tag-']{
    height: 3vw;
  }
  div [class^='tag-']>p{
    height: 3vw;
    font-size: 2.5vw;
   padding-top:1px;
  }

  #cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .html
  {
    width: 100%;

  }
 .skills >h1{
  font-size: 60px;
 }
  .skills >p{
    font-size: 20px;
  }
  .tag-html>p
  {
    height: 4vw;
  }
  .work > h1
  {
    font-size:  70px;
  }

  .contact > h1
  {
    font-size: 70px;
  }
  form input, form textarea
  {
    width: 90%;
  }
}